body {
    background-color: bisque;
}

#site_name {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: larger;
}

.pic-nav {
    display: inline-block;
}

.the-nav {
    display: inline-block;
    background-color: peru;
    overflow: hidden;
}

.nav-link {
    float: left;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
}

.nav-link a:hover {
    background-color: darkgrey;
    color: white;
}

.nav-link a.active {
    background-color: darkorange;
    color: white;
}
