body {
    background-color: bisque;
}

#site_name {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: larger;
}

.pic-nav {
    display: inline-block;
}

.the-nav {
    display: inline-block;
}
